:root {
    --primary-color: rgb(210, 227, 252);
    --secondary-color: rgb(206, 234, 214);
    --tertiary-color: rgb(255, 239, 195);
    --quaternary-color: rgb(248, 210, 206);
    --colorbackground: #f7f7f7;
}
